.section-title {
  font-size: 2.55rem;
  font-weight: 300;
  text-align: center;

  @mixin atSmall {
    font-size: 3.75rem;
  }

  &--blue {
    color: $mainBlue;
  }

  &--less-margin {
    margin: 0 0 1.3rem;
  }

  strong {
    font-weight: 500;
  }

  &__icon {
    display: block;
    margin: 0 auto .6rem;

    @mixin atSmall {
      position: relative;
      top: 8px;
      margin: 0 .5em 0 0 ;
      display: inline-block;
    }
  }

}