.wrapper {
  padding: 0 18px;
  max-width: 1236px;
  margin: 0 auto;

  .wrapper {
    padding: 0;
  }

  &--medium {
    max-width: 976px;
  }

  &--b-margin {
    margin-bottom: .875rem;

    @mixin atSmall {
      margin-bottom: 2.875rem;
    }
  }
}